{% extends 'base.html' %}



{% block title %}Mes Projets{% endblock %}

{% block content %}

<div id="portfolio" class="portfolio-area section-padding">
    <div class="bg-overlay-projects black"></div>
    <div class="containter">
        <div class="row">
            <div class="col-md-12">
                <div class="welcome-text">
                    <div class="name-area wow fadeInDown" data-wow-delay="0.2s">Mes Projets</div>
                </div>
            </div>
        </div>
    </div>
</div>

    <h1>Mes Projets</h1>
    {% comment %} <div class="project-list">
        {% for work in works %}
            <div class="project-item">
                <a href="{% url 'project_detail' slug=work.slug %}">
                    <img src="{{ work.image.url }}" alt="{{ work.title }}">
                    <h2>{{ work.title }}</h2>
                </a>
            </div>
        {% endfor %} {% endcomment %}


        

    </div>
{% endblock %}
